<div class="password">
  <form>
    <input
      type="search"
      name="password"
      class="input"
      (input)="changePassword($event)"
    >

    <div *ngIf="hasErrors" class="error">
      Only latin characters, digits, and symbols are allowed
    </div>
  </form>

  <div
    [ngClass]="{
      'complexity': true,
      'min-length': !passwordState.has8Chars && !passwordState.isEmpty,
      'password-error': hasErrors
    }"
  >
    <div [ngClass]="{ 'easy': passwordState.isEasy }"></div>
    <div [ngClass]="{ 'medium': passwordState.isMedium }"></div>
    <div [ngClass]="{ 'strong': passwordState.isStrong, }"></div>
  </div>
</div>
