.password {
  display: flex;
  flex-direction: column;
  padding: 0 20%;
  justify-content: center;
  row-gap: 24px;

  &__input {
    width: 100%;
    height: 40px;
    border-radius: 6px;
    padding: 0 12px;
    box-sizing: border-box;
  }
  
  &__complexity {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3;

    row-gap: 20px;

    .item {
      height: 35px;
      width: 100%;
      border-radius: 4px;
      background-color: grey;
    }

    .easy,
    .medium,
    .strong {
      background-color: green;
    }
  }

  .min-length .item {
    background-color: red;
  }
}
