<div class="password">
  <form class="password__form">
    <input
      appDebounceEvent
      type="text"
      name="password"
      class="password__input"
      [(ngModel)]="form.password"
      (changeInput)="changePassword()">
  </form>

  <div
  [ngClass]="{'min-length': !passwordState.has8Chars && form.password}"
    class="password__complexity">
    <div
      [ngClass]="{ easy: passwordState.isEasy }"
      class="password__complexity__easy item"></div>
    <div
      [ngClass]="{ medium: passwordState.isMedium }"
      class="password__complexity__middle item"></div>
    <div
      [ngClass]="{ strong: passwordState.isStrong }"
      class="password__complexity__strong item"></div>
  </div>
</div>
